.login-container{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #2d3a4b;
}
.login-container form{
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  transform: translateY(-35%);
  width: 400px;
  padding: 35px 35px 15px 35px;
  margin: 0 auto;
}
.login-container h3{
  font-size: 26px;
  color: #eee;
  margin: 0px auto 40px auto;
  text-align: center;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.login-container ul{
  padding: 0;
  list-style: none;
}
.login-li{
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #454545;
  line-height: 40px;
  position: relative;
  font-size: 16px;
  margin-bottom: 22px;
}
.login-li span label{
  padding: 6px 5px 6px 15px;
  color: #889aa4;
  vertical-align: middle;
  width: 30px;
  display: inline-block;
}
.login-li span input{
  display: inline-block;
  width: 75%;
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  border-radius: 0px;
  padding: 12px 5px 12px 15px;
  color: #eee;
  height: 47px;
  outline: none;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
}
.hpwd-icon{
  cursor: pointer;
}
.login-btn{
  line-height: 40px;
  position: relative;
  font-size: 16px;
}
.login-btn button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.login-btn button:hover{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
/* 验证码 */
.login-li span input.txtVerification{
  width:50%;
}
#ehong-code-input{
	width:42px;
	letter-spacing:2px;
	margin:0px 8px 0px 0px;
}
.ehong-idcode-val{
	position:relative;
	padding:1px 4px 1px 4px;
	top:0px;
	*top:-3px;
	letter-spacing:4px;
	display:inline;
	cursor:pointer;
	font-size:16px;
	font-family:"Courier New", Courier, monospace;
	text-decoration:none;
	font-weight:bold;
}
/* .ehong-idcode-val0{
	border:solid 1px #A4CDED;	
	background-color:#ECFAFB;
}

.ehong-idcode-val1{
	border:solid 1px #A4CDED;	
	background-color:#FCEFCF;
}
.ehong-idcode-val2{
	border:solid 1px #6C9;	
	background-color:#D0F0DF;
}
.ehong-idcode-val3{
	border:solid 1px #6C9;	
	background-color:#DCDDD8;
}
.ehong-idcode-val4{
	border:solid 1px #6C9;	
	background-color:#F1DEFF;
}
.ehong-idcode-val5{
	border:solid 1px #6C9;	
	background-color:#ACE1F1;
} */
.ehong-code-val-tip{
	font-size:12px;
	color:#869aa2;
	top:0px;
	*top:-3px;	
	position:relative;	
	margin:0px 0px 0px 4px;
	cursor:pointer;	
}
